# K-Means - Iris Dataset

In [12]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris

from sklearn.cluster import KMeans
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, f1_score

import matplotlib.pyplot as plt
import plotly.express as px

In [13]:
# General config of pandas
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option('display.expand_frame_repr', False)

In [15]:
# Creating the dataframe with iris dataset

data = load_iris()

df = pd.DataFrame(data = data.data, columns=data.feature_names)

df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
# Adding the target column so that we can do a comparison of the results 
df["class_code"] = data.target

df["class_name"] = data.target_names[df["class_code"].astype(int)]

df.sample(10)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  class_code  class_name
22                 4.6               3.6                1.0               0.2           0      setosa
92                 5.8               2.6                4.0               1.2           1  versicolor
25                 5.0               3.0                1.6               0.2           0      setosa
67                 5.8               2.7                4.1               1.0           1  versicolor
125                7.2               3.2                6.0               1.8           2   virginica
82                 5.8               2.7                3.9               1.2           1  versicolor
50                 7.0               3.2                4.7               1.4           1  versicolor
65                 6.7               3.1                4.4               1.4           1  versicolor
10                 5.4               3.7                1.5               0.2           0      setosa
107                7.3               2.9                6.3               1.8           2   virginica

# Second way to achieve the last step
df["class_name"] = df["class_code"]

for index, row in df.iterrows():
    species = int(row["class_code"])
    df.loc[index, "class_name"] = data.target_names[species]